body {
  font-family: monospace;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.list {
  flex: 1;
}

.preferences-panel {
  width: 100%;
  padding: 0 10px;
  background-color: #222;
  color: #fff;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.preferences-panel h2 {
  margin-bottom: 40px;
  font-size: 2rem;

}

select {
  width: 100%;
  height: 30px;
  margin: 10px 0 15px;
}

.list-h2 {
  padding-left: 22px;
  text-align: center;
  font-size: 2rem;
}

.list {
  padding: 0;
  margin-right: 20px;
  list-style-type: none;
}

.list li {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.theme1 {
  background-color: #f0f0f0;
  color: #333;
}

.theme2 {
  background-color: #333;
  color: #fff;
}

.theme3 {
  background-color: #000000e8;
  color: #fff;
}

.list-style1 {
  list-style-type:decimal
}

.list-style2 {
  list-style-type:lower-alpha;
}

.list-style3 {
  list-style-type:none;
}

.theme1-preferences {
  background-color: #e3e3e3;
  color: #000;
}

.theme2-preferences {
  background-color: #22222254;
  color: #fff;
}

.theme3-preferences {
  background-color: #080808;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  .preferences-panel {
    width: 250px;
    margin-left: 20px;
  }
}

@media screen and (max-width: 768px) {
  select {
    width: 70%;
  }
}